{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <div>#}
{#      <h1 class="display-4">Task Detail Information</h1>#}
{#        <div class="form-group row">#}
{#        <form action="" method="get">{% csrf_token %}#}
{#            <table class="table-borderless">{{ form.as_table }}</table>#}
{#            <a href="{% url 'taskslist' %}" class="btn btn-secondary ml-2">Back</a>#}
{#        </form>#}
{#        </div>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock content %}#}

{##}
{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{# <div>#}
{#      <h1 class="display-4">Task Detail infromatio</h1>#}
{#         <form action="" method="post">{% csrf_token %}#}
{#            <table class="table table-borderless">#}
{#             <tr>#}
{#              <td colspan="2">Task</td>#}
{#             </tr>#}
{#             <tr>#}
{#              <td colspan="3"><textarea readonly style="min-width: 100%">{{ task.task }}</textarea></td>#}
{#             </tr>#}
{#            </table>#}
{#         </form>#}
{#    </div>#}
{#{% endblock content %}#}